.container{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 12px;
}
.containerB{
    width: 40%;
    height: 240px;
    background-color: #1E2432;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: start;
    color: #4D5562;
    border: solid #4D5562 0.2px ;
}
.containerBbtn{
    width: 100%;
    border-bottom: solid 0.8px #4D5562;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.boxTranslateBtnA{
    border-bottom: solid 0.8px #4D5562;
    padding: 8px;
    gap: 10px;
}

.boxTranslateBtnA button{
    border-radius: 6px;
    padding: 8px;
    text-align: center;
    margin-left: 5px;
    color: #F9FAFB;
    border-style: none;
    cursor: pointer;
    /* background-color: rgba(0, 0, 0, 0); */
}
.btnCopy{
    text-align: center;
    padding: 5px;
    margin-left: 5px;
    margin-right: 12px;
    border-radius: 8px;
    background-color: #1E2432;
    color: #F9FAFB;
    border: solid #F9FAFB 0.5px;
    cursor: pointer;
}


.boxTranslateBtnB{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}
#textTranslate{
    width: 85%;
    height: 6rem;
    background-color: #1E2432;
    border-style: none;
    margin: auto;
    color: #F9FAFB;
}
#textTranslate:focus{
    outline: none;
}

.boxTranslateBtnB button{
    text-align: center;
    padding: 5px;
    margin-left: 5px;
    margin-right: 12px;
    border-radius: 8px;
    background-color: #1E2432;
    color: #F9FAFB;
    border: solid #F9FAFB 0.5px;
    cursor: pointer;
}
.containerB_count{
    margin-left: 80%;
}
#btnTranslate{
    background-color: #3662E3;
    display: flex;
    text-align: center;
    align-items: center;
    cursor: pointer;
    border: solid #F9FAFB 0.2px;
    padding: 8px;
}

.btnActive{
    transition: 0.5s;
    background-color: #4D5562;
}
.btnInactive{
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0);
}



/* .btnActiveFr{
    background-color: #4D5562;
}
.btnInactiveFr{
    background-color: rgba(0, 0, 0, 0);
}

.btnActiveEs{
    background-color: #4D5562;
}
.btnInactiveEs{
    background-color: rgba(0, 0, 0, 0);
} */